<select
  name="slot"
  id="filter-facet-slot"
  class="has-content"
  style="min-width:9.75em"
  size="9"
  multiple="multiple"
  ><option value="16">Back</option
  ><option value="5">Chest</option
  ><option value="8">Feet</option
  ><option value="11">Finger</option
  ><option value="10">Hands</option
  ><option value="1">Head</option
  ><option value="23">Held In Off-hand</option
  ><option value="7">Legs</option
  ><option value="2" selected="selected">Neck</option
  ><option value="28">Relic</option
  ><option value="14">Shield</option
  ><option value="4">Shirt</option
  ><option value="3">Shoulder</option
  ><option value="19">Tabard</option
  ><option value="12">Trinket</option
  ><option value="6">Waist</option
  ><option value="9">Wrist</option></select
>

<select
  name="type"
  id="filter-facet-type"
  class="has-content"
  style="min-width:12.75em"
  size="9"
  multiple="multiple"
  ><option value="1">Cloth Armor</option
  ><option value="2">Leather Armor</option
  ><option value="3">Mail Armor</option
  ><option value="4">Plate Armor</option
  ><option value="-3" selected="selected">Amulets</option
  ><option value="-6">Cloaks</option
  ><option value="8">Idols</option
  ><option value="7">Librams</option
  ><option value="-5">Off-hand Frills</option
  ><option value="11">Relics</option
  ><option value="-2">Rings</option
  ><option value="-7">Tabards</option
  ><option value="-4">Trinkets</option
  ><option value="6">Shields</option
  ><option value="-8">Shirts</option
  ><option value="9">Totems</option
  ><option value="10">Sigils</option
  ><option value="0">Miscellaneous (Armor)</option></select
>

<select
  name="class"
  id="filter-facet-class"
  onchange="Filter.utility_updateSelectClass.call(this)"
  class="has-content c11-alt"
  ><option value="" class="q1-alt c0-alt">Class</option
  ><option value="11" selected="selected" class="c11-alt">Druid</option
  ><option value="3" class="c3-alt">Hunter</option
  ><option value="8" class="c8-alt">Mage</option
  ><option value="2" class="c2-alt">Paladin</option
  ><option value="5" class="c5-alt">Priest</option
  ><option value="4" class="c4-alt">Rogue</option
  ><option value="7" class="c7-alt">Shaman</option
  ><option value="9" class="c9-alt">Warlock</option
  ><option value="1" class="c1-alt">Warrior</option></select
>
