<table class="listview-mode-default">
  <thead>
    <tr>
      <th style="text-align: left;">
        <div>
          <a
            ><span><span>Name</span></span></a
          >
        </div>
      </th>
      <th style="width: 10%;">
        <div>
          <a
            ><span><span>Level</span></span></a
          >
        </div>
      </th>
      <th style="width: 13%;">
        <div>
          <a
            ><span><span>Territory</span></span></a
          >
        </div>
      </th>
      <th>
        <div>
          <a
            ><span><span>Instance type</span></span></a
          >
        </div>
      </th>
      <th>
        <div>
          <a
            ><span class="sortasc"><span>Pop.</span></span></a
          >
        </div>
      </th>
    </tr>
  </thead>
  <tbody class="clickable">
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=718">Wailing Caverns</a>
      </td>
      <td>17 - 27</td>
      <td><span class="icon-horde">Horde</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-8"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=2717">Molten Core</a>
      </td>
      <td>60</td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance3">Raid</span></td>
      <td><span class="popularity-icon popularity-6"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=331">Ashenvale</a>
      </td>
      <td>19 - 30</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-5"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=209">Shadowfang Keep</a>
      </td>
      <td>20 - 60</td>
      <td><span class="icon-horde">Horde</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-4"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1581">The Deadmines</a>
      </td>
      <td>15 - 25</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-4"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1584">Blackrock Depths</a>
      </td>
      <td>48 - 60</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-4"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=2057">Scholomance</a>
      </td>
      <td></td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-3"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1583">Blackrock Spire</a>
      </td>
      <td></td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-3"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=2100">Maraudon</a>
      </td>
      <td>36 - 46</td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-3"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=2017">Stratholme</a>
      </td>
      <td>48 - 58</td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-3"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=45">Arathi Highlands</a>
      </td>
      <td>30 - 40</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-3"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=796">Scarlet Monastery</a>
      </td>
      <td></td>
      <td><span class="icon-horde">Horde</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-3"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=719">Blackfathom Deeps</a>
      </td>
      <td>22 - 32</td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-3"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=491">Razorfen Kraul</a>
      </td>
      <td>32 - 42</td>
      <td><span class="icon-horde">Horde</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-3"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=2677">Blackwing Lair</a>
      </td>
      <td>60</td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance3">Raid</span></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=85">Tirisfal Glades</a>
      </td>
      <td>1 - 12</td>
      <td><span class="icon-horde">Horde</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1477">The Temple of Atal'Hakkar</a>
      </td>
      <td>44 - 60</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=2557">Dire Maul</a>
      </td>
      <td>44 - 54</td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=148">Darkshore</a>
      </td>
      <td>11 - 19</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=722">Razorfen Downs</a>
      </td>
      <td>37 - 47</td>
      <td><span class="icon-horde">Horde</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1176">Zul'Farrak</a>
      </td>
      <td>46 - 56</td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=11">Wetlands</a></td>
      <td>20 - 30</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=721">Gnomeregan</a>
      </td>
      <td>26 - 36</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=1337">Uldaman</a></td>
      <td>42 - 52</td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=267">Hillsbrad Foothills</a>
      </td>
      <td>20 - 31</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1977">Zul'Gurub</a>
      </td>
      <td></td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance3">Raid</span></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=2437">Ragefire Chasm</a>
      </td>
      <td>15 - 25</td>
      <td><span class="icon-horde">Horde</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=33">Stranglethorn Vale</a>
      </td>
      <td>30 - 50</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=405">Desolace</a></td>
      <td>30 - 39</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=3456">Naxxramas</a>
      </td>
      <td></td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance3">Raid</span></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=406">Stonetalon Mountains</a>
      </td>
      <td>15 - 25</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=17">The Barrens</a>
      </td>
      <td>10 - 33</td>
      <td><span class="icon-horde">Horde</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-2"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=10">Duskwood</a></td>
      <td>10 - 30</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=618">Winterspring</a>
      </td>
      <td>55 - 60</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=15">Dustwallow Marsh</a>
      </td>
      <td>36 - 61</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=493">Moonglade</a>
      </td>
      <td>15</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=1">Dun Morogh</a></td>
      <td>1 - 12</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=12">Elwynn Forest</a>
      </td>
      <td>1 - 10</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=40">Westfall</a></td>
      <td>9 - 18</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=215">Mulgore</a></td>
      <td>1 - 10</td>
      <td><span class="icon-horde">Horde</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=357">Feralas</a></td>
      <td>41 - 60</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=2159">Onyxia's Lair</a>
      </td>
      <td></td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=130">Silverpine Forest</a>
      </td>
      <td>10 - 20</td>
      <td><span class="icon-horde">Horde</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=38">Loch Modan</a>
      </td>
      <td>10 - 18</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=717">The Stockade</a>
      </td>
      <td>22 - 32</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=44">Redridge Mountains</a>
      </td>
      <td>15 - 25</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=16">Azshara</a></td>
      <td>42 - 55</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=47">The Hinterlands</a>
      </td>
      <td>41 - 49</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=440">Tanaris</a></td>
      <td>40 - 50</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=3428">Ahn'Qiraj</a>
      </td>
      <td>60</td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance3">Raid</span></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=8">Swamp of Sorrows</a>
      </td>
      <td>36 - 43</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=490">Un'Goro Crater</a>
      </td>
      <td>48 - 55</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=361">Felwood</a></td>
      <td>47 - 54</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1377">Silithus</a>
      </td>
      <td>55 - 59</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=3">Badlands</a></td>
      <td>36 - 45</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=141">Teldrassil</a>
      </td>
      <td>1 - 11</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=28">Western Plaguelands</a>
      </td>
      <td>46 - 57</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1519">Stormwind City</a>
      </td>
      <td>1 - 60</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=46">Burning Steppes</a>
      </td>
      <td>50 - 59</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;"><a class="listview-cleartext" href="/zone=14">Durotar</a></td>
      <td>1 - 10</td>
      <td><span class="icon-horde">Horde</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=400">Thousand Needles</a>
      </td>
      <td>24 - 35</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=36">Alterac Mountains</a>
      </td>
      <td>27 - 39</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=139">Eastern Plaguelands</a>
      </td>
      <td>54 - 59</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=3429">Ruins of Ahn'Qiraj</a>
      </td>
      <td>60</td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance3">Raid</span></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1417">Sunken Temple</a>
      </td>
      <td></td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1657">Darnassus</a>
      </td>
      <td>1 - 60</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=51">Searing Gorge</a>
      </td>
      <td>43 - 56</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1638">Thunder Bluff</a>
      </td>
      <td>1 - 60</td>
      <td><span class="icon-horde">Horde</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-1"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1637">Orgrimmar</a>
      </td>
      <td>1 - 60</td>
      <td><span class="icon-horde">Horde</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=4">Blasted Lands</a>
      </td>
      <td>46 - 63</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=2597">Alterac Valley</a>
      </td>
      <td>51 - 60</td>
      <td><span class="icon-ffa">PvP</span></td>
      <td><span class="icon-instance4">Battleground</span></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1537">Ironforge</a>
      </td>
      <td>1 - 60</td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1497">Undercity</a>
      </td>
      <td>1 - 60</td>
      <td><span class="icon-horde">Horde</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=25">Blackrock Mountain</a>
      </td>
      <td></td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=3358">Arathi Basin</a>
      </td>
      <td>20 - 60</td>
      <td><span class="icon-ffa">PvP</span></td>
      <td><span class="icon-instance4">Battleground</span></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=41">Deadwind Pass</a>
      </td>
      <td>50 - 60</td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=3277">Warsong Gulch</a>
      </td>
      <td>10 - 60</td>
      <td><span class="icon-ffa">PvP</span></td>
      <td><span class="icon-instance4">Battleground</span></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=2257">Deeprun Tram</a>
      </td>
      <td></td>
      <td><span class="icon-alliance">Alliance</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1941">Caverns of Time</a>
      </td>
      <td></td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=1397">Emerald Forest</a>
      </td>
      <td></td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance3">Raid</span></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=457">The Veiled Sea</a>
      </td>
      <td></td>
      <td><span>Contested</span></td>
      <td></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a class="listview-cleartext" href="/zone=207">The Great Sea</a>
      </td>
      <td></td>
      <td><span>Contested</span></td>
      <td><span class="icon-instance2">Dungeon</span></td>
      <td><span class="popularity-icon popularity-0"></span></td>
    </tr>
  </tbody>
</table>
