<table class="listview-mode-default">
  <thead>
    <tr>
      <th>
        <div>
          <a href="javascript:;"
            ><span class="sortasc"><span>Name</span></span></a
          >
        </div>
      </th>
      <th style="width: 15%;">
        <div>
          <a href="javascript:;"
            ><span><span>Level</span></span></a
          >
        </div>
      </th>
      <th style="width: 18%;">
        <div>
          <a href="javascript:;"
            ><span><span>Territory</span></span></a
          >
        </div>
      </th>
      <th>
        <div>
          <a href="javascript:;"
            ><span><span>Instance type</span></span></a
          >
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=719">Blackfathom Deeps</a>
      </td>
      <td>20 - 34</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=1584">Blackrock Depths</a>
      </td>
      <td>48 - 60</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=1583">Blackrock Spire</a>
      </td>
      <td>57 - 58</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=2557">Dire Maul</a>
      </td>
      <td>55 - 60</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=721">Gnomeregan</a>
      </td>
      <td>24 - 40</td>
      <td><span class="alliance-icon">Alliance</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=2100">Maraudon</a>
      </td>
      <td>40 - 58</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=2437">Ragefire Chasm</a>
      </td>
      <td>13 - 22</td>
      <td><span class="horde-icon">Horde</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=722">Razorfen Downs</a>
      </td>
      <td>33 - 47</td>
      <td><span class="horde-icon">Horde</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=491">Razorfen Kraul</a>
      </td>
      <td>24 - 40</td>
      <td><span class="horde-icon">Horde</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=796">Scarlet Monastery</a>
      </td>
      <td>29 - 48</td>
      <td><span class="horde-icon">Horde</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=2057">Scholomance</a>
      </td>
      <td>56 - 60</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=209">Shadowfang Keep</a>
      </td>
      <td>18 - 32</td>
      <td><span class="horde-icon">Horde</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=2017">Stratholme</a>
      </td>
      <td>56 - 60</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=1581">The Deadmines</a>
      </td>
      <td>15 - 28</td>
      <td><span class="alliance-icon">Alliance</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=717">The Stockade</a>
      </td>
      <td>22 - 25</td>
      <td><span class="alliance-icon">Alliance</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=1337">Uldaman</a>
      </td>
      <td>38 - 53</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=718">Wailing Caverns</a>
      </td>
      <td>15 - 28</td>
      <td><span class="horde-icon">Horde</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=1176">Zul'Farrak</a>
      </td>
      <td>46 - 49</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon1">Dungeon</span></td>
    </tr>
  </tbody>
</table>

<table class="listview-mode-default">
  <thead>
    <tr>
      <th>
        <div>
          <a href="javascript:;"
            ><span class="sortasc"><span>Name</span></span></a
          >
        </div>
      </th>
      <th style="width: 15%;">
        <div>
          <a href="javascript:;"
            ><span><span>Level</span></span></a
          >
        </div>
      </th>
      <th style="width: 18%;">
        <div>
          <a href="javascript:;"
            ><span><span>Territory</span></span></a
          >
        </div>
      </th>
      <th>
        <div>
          <a href="javascript:;"
            ><span><span>Instance type</span></span></a
          >
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=3428">Ahn'Qiraj</a>
      </td>
      <td>60</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon2">Raid (40-man)</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=2677">Blackwing Lair</a>
      </td>
      <td>60</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon2">Raid (40-man)</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=2717">Molten Core</a>
      </td>
      <td>60</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon2">Raid (40-man)</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=3456">Naxxramas</a>
      </td>
      <td>60</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon2">Raid (40-man)</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=2159">Onyxia's Lair</a>
      </td>
      <td>60</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon2">Raid (40-man)</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=3429">Ruins of Ahn'Qiraj</a>
      </td>
      <td>60</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon2">Raid (20-man)</span></td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a style="font-family: Verdana, sans-serif;" href="?zone=1977">Zul'Gurub</a>
      </td>
      <td>60</td>
      <td><span>Contested</span></td>
      <td><span class="instance-icon2">Raid (20-man)</span></td>
    </tr>
  </tbody>
</table>
