*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #222;
  color: lightgray;
}

.clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.caps {
  text-transform: capitalize;
}

h1 {
  .logo {
    max-width: 200px;
  }
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100px;
  background-color: #111;
  padding: 15px 50px;
  box-shadow: 0 0 15px rgb(80, 80, 80);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
  & > div {
    align-self: auto;
    margin: 0 0.625rem;
  }
}
.level,
.faction,
.race,
.playerclass,
.spec {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  & > div {
    width: 50px;
    height: 50px;
  }
  h2 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    margin: 0 auto 5px;
  }
}

.level {
  label {
    display: block;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    margin: 0 auto 5px;
    width: 100%;
  }
}

.inactive {
  filter: grayscale(100%) brightness(50%);
}

.faction-icon,
.class-icon,
.race-icon,
.spec-icon {
  cursor: pointer;
  img {
    max-width: 100%;
  }
}
.container {
  width: 1600px;
  max-width: 100%;
  padding: 0 40px;
  margin: auto;
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  &.nav {
    justify-content: flex-start;
  }
}

.left {
  text-align: left;
}
.results-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0 50px 10px;
}

.character {
  &-sheet {
    padding-bottom: 10px;
    border: 1px solid lightgray;
    display: inline-block;
    width: 450px;
    border-radius: 10px;
  }
  &-stats {
    display: flex;
    min-height: 105px;
    &-base,
    &-combat {
      width: 50%;
    }
    &-base {
      border: 1px solid lightgray;
    }
    &-combat {
      &-melee,
      &-ranged {
        height: 50%;
        border: 1px solid lightgray;
      }
    }
  }
  &-gear {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    &-mid {
      display: grid;
      grid-template-rows: 1fr auto auto;
      &:after {
        content: "";
        clear: both;
        display: table;
      }
    }
    &-weapons {
      display: grid;
      margin: 10px auto 0;
      grid-template-columns: 60px 60px 60px 36px;
      grid-template-rows: 60px;
    }
  }
}

.suggestions-section {
  width: 800px;
  max-width: 100%;
}

.stat-list {
  list-style: none;
  margin: 0;
  padding: 0 10px;
  text-align: left;
  .stat {
    float: right;
  }
}

.gear-icon {
  width: 60px;
  height: 60px;
  border: 1px solid lightgray;
  margin: 0 auto 5px;
  &.ammo {
    width: 40px;
    height: 40px;
    margin: auto;
  }
  &:last-child {
    margin: 0 auto;
  }
}

.resist-icons {
  float: right;
  & > div {
    border: 1px solid lightgray;
    width: 36px;
    height: 36px;
  }
}
